header{
    padding: 80px;
    text-align: center;
    background-color: #ccc;
    border: 2px solid green;
}

header h1{
    font-size: 40px;
}

nav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
nav a.right {
    float: right;
  }
  
  /* Change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

h2 {
    background-color: crimson;
    color: white;
    height: 150px;
    width: 25%;
    text-align: center;
    padding: 25px;
    font-size: 200px;
}